/* style */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

/* heder */
.top-heder {
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}

.main-txt {
  color: #2e2f42;
}

.menu-items {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  width: 261px;
  padding-left: 40px;
  text-align: center;
}

.menu-link:hover {
  color: #404bbf;
}

.menu-link {
  color: #2e2f42;
}

.menu {
  display: flex;
}

.contact-mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: right;
}

.contact-phone {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.phone-mail-txt {
  margin-right: 30px;
}

.contact-phone {
  margin: 0;
}
.contact-phone:hover{
  color: #404bbf;
}
.contact-mail:hover {
  color: #404bbf;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-right: 76px;
}

/* button */
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  margin-top: 48px;
}

.button-txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 169px;
}

.button:hover {
  background-color: #404bbf;
}
/* hero */
.hero-txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-top: 188px;
  padding-left: 473px;
  width: 500px;
  display: flex;
  text-align: center;
}

.hero-beck {
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;

  background: #2e2f42;
}
/* section 1 */
.section-1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  width: 500px;
}
.section-1-h {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 350px;
}
/* section 2 */
.section-2-txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-right: 24px;
  width: 1228px;
}
.section-2 {
  padding-left: 156px;
  padding-right: 156px;
}

.section-2-photo {
  display: flex;
  width: 65%;
  margin-right: 24px;
  width: 1228px;
}
/* section 3 */
.section-3 {
  width: 1440px;
  height: 500px;
  left: 0px;
  top: 1548px;
  background: #f4f4fd;
  padding-left: 156px;
}

.section-3-txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-right: 250px;
}

.section-3-photo {
  display: flex;
  margin-right: 24px;
}

.section-3-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-3-profesint {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
/* fotter */
.fotter-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer {
  width: 1440px;
  height: 110px;
  left: 0px;
  top: 2280px;
  background: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-left: 156px;
}

.footer-txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  padding-left: 156px;
}

.studio-txt {
  color: white;
}
